{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página ADM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom CSS link here -->
    <link rel="stylesheet" href="{% url 'adm' %}">
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">Administração</h1>
        <p class="text-center">Esta página é propriamente para administradores do website.</p>
        
        <div class="row mx-auto">
            <div class="col-md-6">
                <div class="card">
                    <a href="/admin/app" class="card-link">
                        <div class="card-header">
                            Administração Geral
                        </div>
                        <a href="/admin/app/clima" class="card-link">
                            <div class="card-body">
                                <p class="card-text">Administrar Clima.</p>
                            </div>
                        </a>
                        <a href="/admin/app/continente/" class="card-link">
                            <div class="card-body">
                                <p class="card-text">Administrar Continentes.</p>
                            </div>
                        </a>
                        <a href="/admin/app/estado" class="card-link">
                            <div class="card-body">
                                <p class="card-text">Administrar Estados.</p>
                            </div>
                        </a>
                        <a href="/admin/app/pais" class="card-link">
                            <div class="card-body">
                                <p class="card-text">Administrar Países.</p>
                            </div>
                        </a>
                        <a href="/admin/app/pais" class="card-link">
                            <div class="card-body">
                                <p class="card-text">Administrar Causas.</p>
                            </div>
                        </a>
                </div>
            </div>
        </div>
    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>