{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Dados Climáticos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>

    </style>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg .bg-#E0FFFF">
        <div class="container">
            <a class="navbar-brand" href="#">Análise de Dados Climáticos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adm' %}">Administração</a>
                    </li>
                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="/admin/app/continentes/">Continentes</a></li>
                            <li><a class="dropdown-item" href="/admin/app/pais">Países</a></li>
                            <li><a class="dropdown-item" href="/admin/adpp/estado">Estados</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5" "text-center"> 
        <h1>Bem-vindo à Pesquisa de Dados Climáticos</h1>
        <p>Aqui você pode encontrar informações climáticas e estatísticas relacionadas ao clima de diferentes regiões.</p>
    </div>

    <div class="text-center"> 
        <h1></h1>
        <h1>Analise Climática</h1>
        <p>A análise climática estatística é uma ferramenta importante para entender as tendências climáticas e as 
            mudanças que estão ocorrendo no clima ao longo do tempo. Através da análise de dados climáticos, podemos 
            identificar padrões e tendências que nos ajudam a entender melhor o clima e suas variações. Essa análise pode ser 
            usada para prever eventos climáticos extremos, como secas, inundações e tempestades, e para desenvolver estratégias de 
            adaptação e mitigação para minimizar os impactos desses eventos. Além disso, a análise climática estatística é fundamental 
            para a tomada de decisões em diversas áreas, como agricultura, energia, transporte e saúde pública, permitindo que 
            sejam tomadas medidas preventivas e corretivas para minimizar os impactos do clima nas atividades humanas.
        </p>        
    </div>

    <div class="container mt-5">
        <iframe src="https://www.climatempo.com.br/mapas" width="100%" height="600px" frameborder="0"></iframe>
    </div>

</body>
</html>
    

